.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: #FFFFFF;
  z-index: 1000;
  border-bottom: 1px solid var(--yt-light-gray);
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
  color: red;
  margin-right: 30px;
}

.navbar input[type="text"] {
  width: 40%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: auto;
}

.navbar .auth-links {
  margin-left: auto;
  display: flex;
  gap: 15px;
}